<div>
  <div id="weather-container">
    <div id="prompt" class="weather-row">Enter City/State</div>
    <div class="weather-row">
      <div class="input-title">City:</div>
      <input ng-model="ctrl.city" class="input-value" type="text">
    </div>
    <div class="weather-row">
      <div class="input-title">State:</div>
      <input ng-model="ctrl.state" class="input-value" type="text">
    </div>
    <div class="weather-row">
      <button ng-click="ctrl.getWeatherData(ctrl.city, ctrl.state)"
              ng-disabled="ctrl.fetchInProgress">Go
      </button>
    </div>
  </div>
  <div ng-if="ctrl.fetchInProgress" class="weather-container-loading"></div>
  <div id="weather-results" ng-if="ctrl.showWeatherData">
    <div class="weather-row">
      Current Weather: {{ctrl.weatherData.currentWeather}}
    </div>
    <div class="weather-row">
      Last Reading: {{ctrl.weatherData.lastReading}}
    </div>
    <div class="weather-row">
      Temperature: {{ctrl.weatherData.temperature}} &#8457;
    </div>
    <div class="weather-row">
      Humidity: {{ctrl.weatherData.humidity}} %
    </div>
    <div class="weather-row">
      Sunrise: {{ctrl.weatherData.sunrise}}
    </div>
    <div class="weather-row">
      Sunset: {{ctrl.weatherData.sunset}}
    </div>
  </div>
</div>
